
.headings>h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    width: 93.5vw;
    font-size: 5vmin;
    
    background-color: navy;
    color: white;
    padding-left:5vw;
    margin: 0%;
    
    vertical-align: top;

}

.headings>h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    width: 93.5vw;
    font-size: 2vmin;
    
    background-color: red;
    color: white;
    padding-left:5vw;
    margin: 0%;
    margin-right: 50%;
    vertical-align: top;
    
}

.headings>img{
    
    margin:none;
    width: 15.7vmin;
    padding: none;
    vertical-align: top;
    border: .2vmax black solid;
    z-index: 1;
    position: absolute;
    right: 2.5vmax;
    top: 0max;
}

.headings{
    margin: none;
    display: flex;
    flex-direction: column;
       

}


.navi{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: navy;
    width: 98.5vw;
    
    
}
.navi>nav>li{
    display: flex;
    
  
    justify-content: center;
    align-content: space-around;
    align-items: center;
    background-color: navy;
    
    
}
.navi>nav>li>a{
    
    color: white;
    background-color: navy;
    
    font-size: 2vmin;
    text-align: center;
    width: 20vmin;
    
}

.navi>nav>li>a:hover{
    background-color: white;
    color: navy;
}

.article{
    padding: 2vmin;
}

article{
    
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 20% 20% auto;
    border: black solid 2px;
    height: 35vmin;
    
    
    
}
.header{
    grid-column: 2/3;
    font-size: 3vmin;
    
    
}
.summary{
    
    font-size: 2.5vmin;
    grid-area: 3/2/3/3;
   padding-right: 4vmin;
    

}
.image{
    grid-area:1/1/3/2;
    
    padding: 2vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
  
}
.image>img{
    height: 30vmin;
    
    
    
    
}
.article-info{
   
    grid-area: 2/2/3/2;
    font-size: 2.5vmin;

}

.foots{
    display: flex;
    
  
    justify-content: center;
    align-content: space-around;
    align-items: center;
    background-color: navy;
    
}

.foots>a{
    width: 20vmin;
    color: white;
    text-align: center;
    font-size: 2vmin;
}

.foots>a:hover{
    color: navy;
    background-color: white;
}